/* form color */
.form-group{
    color: whitesmoke;
}

/* keep quick access and dynamic block hidden*/
#dynamicBlock > .container {
    display: none;
}

#quickAccessMultiple> .container{
    display: none;
}

/* Dyanamic Block Constainer Headings */
.invi-container{
    color: whitesmoke;
    padding-left: 20px;
}

.operator-block{
    float: left;
    background-color: rgb(72, 72, 90);
    opacity: 80%;
    border-radius: 12px;
    width: 30%;
    height: 600px;
    margin-top: 20px;
}

/* keep dyanmic block content in center and managed */
.div-center {
    width: 400px;
    height: 400px;
    opacity: 100%;
    /* background-image: url("image/droame-logo.jpg"); */
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    display: table;
}

div.content {
    display: table-cell;
    vertical-align: middle;
}

.custom-width-65 {
    position: fixed;
    width: 65%;
    right: 0;
}

.back {
    width: 100%;
}